<app-spinner></app-spinner>

<div
  [ngClass]="{
    'expand-menu': expandMenu === 'true' && miniSidebar === 'true',
    'mini-sidebar': miniSidebar === 'true'
  }"
  [class.header-collapse]="isCollapsed"
>
  <div class="main-wrapper">
    <ng-container *ngIf="page !== 'coming-soon' && page !== 'under-maintenance'">
      <app-header></app-header>
      <app-sidebar></app-sidebar>
    </ng-container>

    <!-- Page Wrapper -->
    <div class="page-wrapper">
      <router-outlet></router-outlet>

    </div>
  </div>

  <div
    class="sidebar-overlay"
    [ngClass]="{
      opened: mobileSidebar === 'true',
      'd-none': mobileSidebar === 'false'
    }"
    (click)="sidebarClose()"
  ></div>
</div>
